# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android (gerado pelo prebuild)
android/.gradle/
android/app/build/
android/build/
*.jks
*.keystore

# iOS (gerado pelo prebuild)
ios/Pods/
ios/build/

# Nativos/metro
*.log
.vscode/
.idea/